@model IEnumerable<Category>

<div class="container p-3 text-white">
    <div class="row">
        <div class="col-6">
            <h1>Category List</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Categories" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i>   Create new Category</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped text-white">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th>Create At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
				<td>@item.Name</td>
				<td>@item.DisplayOrder</td>
                <td>@item.CreatedDate</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-primary" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen"></i> Edit</a>
                    </div>

                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-primary" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


